.header-h2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 157%;
    text-transform: uppercase;
    color: $header-color;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }

    &--white {
        color: #FEFEFE;
    }
}