.main-banner {
    margin-bottom: 43px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 56px;
    }

    @media screen and (min-width: $pc) {
        margin-bottom: 66px;
    }

    &__image {
        width: 100%;
        height: 100%;
        img {
            @include img-flex;
        }
    }
}
