.footer {
    padding: 38px 0 47px 0;
    background-color: #000;

    @media screen and (min-width: $tablet) {
        padding: 57px 0;
    }
}

.info-block {

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        margin-bottom: 8px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 22px;
        }
    }

    &__text {
        max-width: 303px;
        margin-bottom: 26px;
        font-size: 12px;
        line-height: 166%;
        text-align: center;
        color: #B9B9B9;

        @media screen and (min-width: $tablet) {
            max-width: 684px;
            font-size: 16px;
            line-height: 175%;
            margin-bottom: 37px;
        }
    }

    &__text--small {
        @media screen and (min-width: $tablet) {
            display: none;
        }
    }

    &__text--big {
        display: none;
        @media screen and (min-width: $tablet) {
            display: block;
        }
    }

    &__social {
        display: flex;
        column-gap: 6px;
        margin-bottom: 25px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 34px;
        }
    }

    &__contacts {
        text-align: center;

        @media screen and (min-width: $tablet) {
            display: flex;
            column-gap: 10px;
        }
    }

    &__contact {
        font-size: 14px;
        left: 171%;
        color: #B9B9B9;

        @media screen and (min-width: $tablet) {
            font-size: 16px;
        }

        &:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &__contact-address, &__contact-phone {
        &::after {
            content: "/";
            display: inline-block;
            margin-left: 10px;
        }
    }
}