.header {
    padding: 23px 0;
    min-height: 37px;

    @media screen and (min-width: $tablet) {
        padding: 23px 0 28px 0;
        min-height: 55px;
    }

    @media screen and (min-width: $pc) {
        padding: 29px 0 34px 0;
        min-height: 55px;
    }

    &__nav {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__nav-list {
        display: none;
        position: absolute;
        top: 37px;
        right: 0;
        z-index: 9;
        min-width: 183px;
        background-color: #F5F5F5;

        @media screen and (min-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 34px;
            position: static;
            background-color: transparent;
        }

        @media screen and (min-width: $pc) {
            column-gap: 68px;
        }
    }

    &__nav-item {
        padding: 4px 13px;
        transition: background-color 0.3s;
        &:hover {
            background-color: #E5E5E5;
        }

        @media screen and (min-width: $tablet) {
            padding: 0;
            &:hover {
                background-color: transparent;
            }
        }
    }

    &__nav-link {
        font-size: 11px;
        line-height: 200%;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: #4E4E4E;

        @media screen and (min-width: $tablet) {
            transition: color 0.3s;
            padding: 5px 0;
            &:hover {
                color: $link-hover;
            }
        }
    }

    &__nav-link-active {
        color: $link-hover;
    }

    &__burger {
        width: 44px;
        height: 37px;
        position: relative;
        z-index: 10;
        background-color: #000;

        @media screen and (min-width: $tablet) {
            display: none;
        }

        span,
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 17px;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }

        span {
            top: calc(50% - 1px);
        }

        &::before {
            top: 12px;
        }

        &::after {
            bottom: 12px;
        }

        &.burger-active {
            span {
                width: 0;
                top: 50%;
            }
            &::before {
                top: calc(50% - 1px);
                transform: translateX(-50%) rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
                transform: translateX(-50%) rotate(45deg);
			}
        }
    }
}


.header__nav-list.menu-active {
    display: block;
}

