.last-shot {
    padding: 38px 0 42px 0;

    @media screen and (min-width: $tablet) {
        background-color: #f7f7f7;
        padding: 47px 0 50px 0;
    }

    &__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 13px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 35px;
        }
    }

    &__instagram {
        display: none;
        font-size: 13px;
        font-weight: 700;
        line-height: 170%;
        text-transform: uppercase;
        color: $header-color;
        transition: color 0.3s;

        &:hover {
            color: $link-hover;
        }

        @media screen and (min-width: $tablet) {
            display: block;
        }
    }

    &__image-wrapper {
        display: flex;
        column-gap: 10px;
        @media screen and (min-width: 541px) {
            justify-content: center;
        }
    }

    &__image {
        @media screen and (max-width: 1064px) {
            &:nth-child(4) {
                display: none;
            }
        }

        @media screen and (max-width: 800px) {
            &:nth-child(3) {
                display: none;
            }
        }

        @media screen and (max-width: 540px) {
            &:nth-child(2) {
                display: none;
            }
        }

        img {
            @include img-flex;
        }
    }
}