.posts {
    margin-bottom: 42px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: $pc) {
        margin-bottom: 69px;
    }

    &__header {
        margin-bottom: 23px;
    }

    &__items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px 25px;

        @media screen and (min-width: $pc) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 11px 21px;

        @media screen and (min-width: 541px) {
            flex-direction: row;
        }
    }

    &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 214%;
        text-transform: capitalize;
        color: $header-color;

        @media screen and (min-width: 541px) {
            font-size: 16px;
        }
    }

    &__data {
        font-size: 11px;
        line-height: 181%;
        color: $text-color;

        @media screen and (min-width: 541px) {
            margin-bottom: 13px;
        }
    }

    &__category {
        margin-right: 7px;
    }

    &__comments {
        margin-left: 7px;
    }

    &__text {
        display: none;
        max-width: 404px;
        font-size: 14px;
        line-height: 185%;
        color: #5C5C5C;

        @media screen and (min-width: 541px) {
            display: block;
        }
    }
}